/* STYLES FOR CHRYSALIS DESIGN */
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Patua One', 'sans-serif' , 'cursive';
  background-color: #222;
  background-image: url("/chrysalisDesign/img/phase3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position-x: 500px;
  background-position-y: 365px;
}

.hidden {
  opacity: 0;
  -webkit-transition: 2000ms;
  transition: 2000ms;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.show {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.wrapper {
  width: 1263px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.wrapper .quote {
  margin: -10px 20px 0 0;
  width: 90%;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.wrapper .quote h1 {
  margin: 0;
  color: #5D7877;
  font-size: 5em;
}

.wrapper .quote p {
  margin-top: 10px;
  color: #E2E2E2;
  font-size: 1.5em;
}

.wrapper .bio-pic {
  width: 78%;
  margin-top: 100px;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.wrapper .bio-pic img {
  width: 90%;
  background-color: #5D7877;
  border-radius: 10% 60% 10% 60%;
}

.wrapper .bio {
  padding: 20px;
  color: #E2E2E2;
  font-size: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 1.5em;
}

.wrapper .dev-pic {
  width: 75%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.wrapper .dev-pic img {
  width: 100%;
  border-radius: 10% 45% 10% 45%;
}

.wrapper .bio-p2 {
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-column: span 2;
  margin: 130px 50px 0 50px;
  line-height: 1.5em;
}

.wrapper .drawer {
  width: 600px;
  height: 180px;
  margin-bottom: 100px;
  background-image: url(../img/standoffDrawerRed.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #222;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.9);
          box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.wrapper .design-1 {
  background-image: url(../img/tcfw.png);
  background-repeat: no-repeat;
  background-size: 100%;
  -ms-grid-column-align: end;
      justify-self: end;
  border-radius: 10px 0 0 10px;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.wrapper .more-des {
  margin: 150px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-column: span 2;
}

.wrapper .more-des .box-1, .wrapper .more-des .box-2, .wrapper .more-des .box-3 {
  width: 350px;
  height: 250px;
  border-radius: 10px;
  background-color: #222;
  -webkit-box-shadow: -10px -10px 20px rgba(37, 37, 37, 0.9);
          box-shadow: -10px -10px 20px rgba(37, 37, 37, 0.9);
  -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.9);
          box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.9);
}

.wrapper .more-des .box-1 img, .wrapper .more-des .box-2 img, .wrapper .more-des .box-3 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .more-des .box-1 {
  background-image: url(../img/korochka-table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper .more-des .box-2 {
  background-image: url(../img/jesse-schoff-i2DefZ6PCN0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper .more-des .box-3 {
  background-image: url(../img/kaiMockupFinal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper .standoff-right {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-top: 100px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.wrapper .standoff-right img {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 50%;
  border-radius: 10px;
  -webkit-box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.8);
}

.wrapper .standoff-left {
  width: 100%;
  margin-top: 100px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.wrapper .standoff-left img {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 50%;
  border-radius: 10px;
  -webkit-box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.8);
}

.wrapper header {
  z-index: 1;
  display: -ms-grid;
  display: grid;
  background-color: #5D7877;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.wrapper header nav {
  -ms-grid-column-align: self-end;
      justify-self: self-end;
}

.wrapper header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper header nav li {
  font-size: 1.1em;
  list-style-type: none;
  color: #222;
}

.wrapper header nav li .selected {
  color: #E2E2E2;
}

.wrapper header nav li a {
  text-decoration: none;
  padding: 1em;
  color: #222;
}

.wrapper header nav li :hover {
  color: #e2e2e2;
}

.wrapper header .home-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
  -webkit-animation: transitionIn 2000ms;
          animation: transitionIn 2000ms;
}

@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX("0");
            transform: rotateX("0");
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX("0");
            transform: rotateX("0");
  }
}

.wrapper header .home-h1 h1 {
  font-size: 9em;
  line-height: 80px;
  margin: 20px 0 50px 40px;
  color: #222;
}

.wrapper header .home-h1 .headTitle::first-letter {
  font-size: 1.5em;
}

.wrapper header .home-h1 .headTitle0::first-letter {
  font-size: 1.5em;
}

.wrapper .services {
  color: #E2E2E2;
  width: 1120px;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-column: span 2;
  margin-top: 150px;
  gap: 50px;
}

.wrapper .services .service_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .services .service_type h3 {
  margin-right: 20px;
}

.wrapper .services .serviceCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  width: 300px;
  background-color: #222;
  -webkit-filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.9));
          filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.9));
  border-radius: 10px;
}

.wrapper .services .serviceCard ul {
  margin: 0 0 50px 0;
}

.wrapper .services button {
  font-family: Patua One;
  font-size: 1em;
  margin-top: auto;
  margin-bottom: 30px;
  padding: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 5px;
  color: #E2E2E2;
  width: 250px;
  background-color: #222;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.8), -5px -6px 10px rgba(226, 226, 226, 0.1);
          box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.8), -5px -6px 10px rgba(226, 226, 226, 0.1);
}

.wrapper .modal {
  color: #e2e2e2;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 1;
  background-color: #222;
  width: 800px;
  max-width: 70%;
  padding: 20px;
  -webkit-filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.9));
          filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.9));
}

.wrapper .modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.wrapper .modal .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .modal .modal-header .modal-title {
  font-size: 2em;
  font-weight: bold;
}

.wrapper .modal .modal-header .close-btn {
  cursor: pointer;
  width: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0;
  font-size: 1.25em;
  font-weight: bold;
}

.wrapper .modal .modal-body p {
  line-height: 1.5em;
}

.wrapper #overlay {
  position: fixed;
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.wrapper #overlay.active {
  opacity: 1;
  pointer-events: all;
}

.wrapper .case-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin: 130px 0 0 0;
  justify-self: center;
  grid-column: span 2;
  grid-row: span 2;
  gap: 50px;
}

.wrapper .case-container .case-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  border-radius: 10px;
  background-color: #5D7877;
}

.wrapper .case-container .card-image-1 {
  background-image: url(../img/standoffDrawer.png);
  width: 100%;
  height: 300px;
  -webkit-box-shadow: inset 5px 5px 10px #000000;
          box-shadow: inset 5px 5px 10px #000000;
  border-radius: 10px 10px 0 100px;
}

.wrapper .case-container .card-image-2 {
  background-image: url(../img/tcfw.png);
  width: 100%;
  height: 300px;
  -webkit-box-shadow: inset 5px 5px 10px #000000;
          box-shadow: inset 5px 5px 10px #000000;
  border-radius: 10px 10px 0 0;
}

.wrapper .case-container .card-image-3 {
  background-image: url(../img/korochka_logo.png);
  width: 100%;
  height: 300px;
  -webkit-box-shadow: inset -5px -5px 10px #000000;
          box-shadow: inset -5px -5px 10px #000000;
  border-radius: 10px 10px 100px 0;
}

.wrapper .case-container .case-content {
  padding: 20px;
}

.wrapper .case-container .case-content .read-more-text {
  display: none;
}

.wrapper .case-container .case-content .read-more-text--show {
  display: inline-block;
}

.wrapper .case-container .case-content .read-more-btn {
  color: #E2E2E2;
  cursor: pointer;
}

.wrapper .case-container button {
  font-family: 'Patua One', cursive;
  border-radius: 5px;
  color: #E2E2E2;
  width: 250px;
  margin-top: auto;
  margin-bottom: 30px;
  padding: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #222;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.8);
}

.wrapper .form-container {
  width: 80%;
  margin-left: 40px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.wrapper .form-container form {
  width: 80%;
  color: #E2E2E2;
}

.wrapper .form-container form input {
  width: 100%;
  background-color: #222;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-family: Patua One;
  -webkit-box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.8);
}

.wrapper .form-container form textarea {
  width: 100%;
  font-size: 18px;
  padding: 15px;
  background-color: #222;
  border: none;
  border-radius: 10px;
  font-family: Patua One;
  -webkit-box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.8);
}

.wrapper .form-container form #submit {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #5D7877;
  color: #E2E2E2;
  padding: 15px;
  cursor: pointer;
}

.wrapper .contact-img {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 73%;
}

.wrapper .contact-img img {
  width: 100%;
  border-radius: 40% 20% 70% 20%;
  -webkit-box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.8);
          box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.8);
}

.wrapper footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #E2E2E2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 7;
      grid-row-start: 7;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}
/*# sourceMappingURL=styles.css.map */